html, body {
    display: flex;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: #000;
}

#game {
    padding-right: 30px;
}

/* Intro */
.intro {
    display: inline-block;
    overflow-wrap: break-word;
    padding: 16px 30px;
    width: auto;
}

.title {
    color: #fff;
    padding-bottom: 30px;
}

.intro > p {
    color: #fff;
}

button {
    display: inline-block;
    width: auto;
    height: auto;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

/* Game status */
#win-message {
    display: none;
    color: #fff;
    width: 100%;
    text-align: center;
}

#game-over {
    display: none;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 0 auto;
}

/* Player status */ 
#player-status {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 23px;
    color: #fff;
}

#score {
    margin: auto 0;
}

#hearts {
    display: flex;
}

#hearts > li {
    list-style: none;
}